body {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.map {
width: 100%;
height: 150vh;
position: absolute;
overflow: hidden;
z-index: 0;
}

.map_right{
  position: absolute;
  width: 800px;
  right: -250px;
  top:100px;
  fill: rgb(116, 116, 116);
}

.map_left{
  position: absolute;
  width: 800px;
  left: -500px;
  top:250px;
  fill: rgb(116, 116, 116);
}

/* header */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  padding: 1rem 2rem;
  z-index: 2;
  position: fixed;
}

.logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-icon {
  width: 2rem;
}

.logo-text {
  width: 5rem;
}

header nav ul {
  display: flex;
  gap: 5rem;
}

header nav ul li {
  font-size: 1.2rem;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  z-index: 1;
  position: relative;
}

/* footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2rem;
  background-color: #FAFAFA;
  margin-top: 6rem;
  z-index: 1;
  position: relative;
}

.footer-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-contents p {
  font-size: 1rem;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .social_media_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer img {
  width: 2rem;
}

.social_media_icons a img {
  width: 2rem;
}

footer .rights-bottom {
  display: none;
}