/* Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {}

/* Mobile */
@media (max-width: 767px) {
  .logo-group .logo-text {
    transform: translate(0, -60px);

  }

  .logo-group .logo-icon {
    max-width: 2rem;
    min-width: 2rem;
  }

  header {
    padding: 1rem 1rem;
  }

  nav {
    display: none;
  }

footer ul,
footer nav,
footer .footer-logo,
footer .rights-top{
display: none;
}

footer .rights-bottom{
  display: block;
}

.footer-contents {
  gap: 1rem;
}
}